.App-header {
  background-color: #222;
  color: #fff;
  margin-bottom: 25px;
  padding: 25px 25px 30px;
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-intro {
  margin-top: 10px;
}

/* a.social-link {
  color: #ccc;
  font-family: monospace;
}

a.social-link:hover {
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

#online {
  margin-left: 10px;
}

/* .shirts {
  opacity: .75;
}

.shirts:hover {
  opacity: 1;
}

a.shirts {
  color: #ccc;
  font-size: 13px;
}

.shirts img {
  height: 40px;
} */

/* @media only screen {
	.ui.tiny.modal {
        top: 380px !important;
  }
  .ui.mini.modal {
    top: 380px !important;
}
.ui.small.modal {
  top: 380px !important;
}
.ui.large.modal {
  top: 380px !important;
}
} */

/* .modal {
top: 380px !important;
} */

/* the below keeps the ui.tiny.modal from appearing in the top left corner. Semantic CSS bug. Can probably also fix with a different version for semantic ui (npm install semantic-ui-css@2.2.14 per a user on Github) */
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 10%;
}

/* for user authentication screen */

/* .page-login {
  margin-top: 25px;
} */